.weather-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 40px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 185px;
}

.weather-card h1 {
  font-size: 80px;
  margin: 20px 0;
}

.weather-card p {
  font-size: 22px;
}
